*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


header{
    background-color: aquamarine;
    height: 4em; 
    display: flex;
}

nav{
    display: flex;
    background-color:orange;
    height: 2em;
    margin: auto;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}

.nav{
   flex: 0 0 300px;
   margin-top: 7px;
}

.logo{
    text-align: left;
}

.login{
    text-align: right;
}

.home{
    background-color: darkblue;
    height: 700px;
    padding-top: 60px;
}

.box-home{
    background-color: pink;
    height: 80% ;
    width: 60%;
    margin: auto;
}

.box-container{
    height: 700px;
    display: flex;
    flex:  0 0 100%;
    justify-content: center;
    align-items: center;
}

.pink{
    background-color: pink;
    height: 80%;
    flex: 0 0 20%;
}

.blu{
    background-color: #1E90FF;
    height: 80%;
    flex: 0 0 40%;

}

.box-container2{
    height: 700px;
    display: flex;
    flex:  0 0 100%;
    justify-content: center;
    align-items: center; 
    background-color: gray;
}

.box-container2 .blu {
    order: -1;
}

.green-container{
    background-color: gray;
    height: 800px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.green{
    height: 90%;
    width: 80%;
    background-color: green;
 
}