*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

header{
    background-color: aquamarine;
    height: 4em; 
    display: flex;
}

nav{
    display: flex;
    background-color:orange;
    height: 2em;
    margin: auto;
    justify-content: space-between;
    width: 70%;
    text-align: center;
}

.nav-top{
   flex: 0 0 300px;
   margin-top: 7px;
}

.logo{
    text-align: left;
}

.login{
    text-align: right;
}

.home{
    background-color: darkblue;
    height: 700px;
    padding-top: 60px;
}

.box-home{
    background-color: pink;
    height: 80% ;
    width: 60%;
    margin:0 auto;
    max-width: 1200px;
}

.box-container{
    height: 700px;
    display: flex;
    flex:  0 0 100%;
    justify-content: center;
    align-items: center;
}

.pink{
    background-color: pink;
    height: 80%;
    flex: 0 0 20%;
    max-width: 1200px;
}

.blu{
    background-color: #1E90FF;
    height: 80%;
    flex: 0 0 40%;
    max-width: 1200px;
}

.box-container2{
    height: 700px;
    display: flex;
    flex:  0 0 100%;
    justify-content: center;
    align-items: center; 
    background-color: gray;
}

.box-container2 .blu {
    order: -1;
}

.green-container{
    background-color: #D3D3D3;
    height: 800px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.green{
    height: 90%;
    width: 60%;
    background-color: green;
    max-width: 1200px;
    margin:0 auto;
}

.footer-container{
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.footer-info{
    height: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    max-width: 1200px;
}

.salmon{
    background-color: salmon;
    width: 15% ;
    height: 450px;
    max-width: 1200px;
}

.lightblue{
    background-color: lightblue;
    width: 10% ;
    height: 450px;
    max-width: 1200px;
}

.container-nav{
    background-color:darkslategray ;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    margin-top: 2px;
}

.nav-bottom{
    background-color: aqua;
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    background-color: salmon;
    width: 40px;
    height: 20px;
    
}

.button{
    background-color: salmon;
    width: 40px;
    height: 20px;
}